# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
.env  # Ignore the .env file, not a directory

# Logs and temp files
*.log
*.tmp

# Datasets and large files
data/*.csv
data/*.json

# OS-specific files
.DS_Store
Thumbs.db

# Ignore config file with sensitive info (optional)
src/config.py
